.text-font {
    font-family: 'Courier New';
    font-weight: bold;
}

.margin {
    margin-left: 10%;
}

.footer {
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 10px;
    width: 100%;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ef6e73;
}

.stylingform {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.input-field .postfix~input {
    width: 80%;
    width: calc(100% - 3rem);
    margin-left: 0px;
    margin-right: 3rem!important;
}

.input-field .postfix {
    position: absolute;
    width: 3rem;
    right: 0px;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}


/* unvisited link */

a:link {
    color: #57c5ff;
}


/* visited link */

a:visited {
    color: #0facff;
}


/* mouse over link */

a:hover {
    color: #7ad1ff;
}


/* selected link */

a:active {
    color: #008ad1;
}

a {
    cursor: pointer
}